<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>cookieFilter</filter-name>
        <filter-class>filter.CookieAuthen</filter-class>
    </filter>
    <filter>
        <filter-name>ProtectedPath</filter-name>
        <filter-class>filter.ProtectedPath</filter-class>
    </filter>
    <filter>
        <description>Encode data which was sent over website to UTF-8</description>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>filter.EncodeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/administrator/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProtectedPath</filter-name>
        <url-pattern>/asset/img/art/protected/*</url-pattern>
    </filter-mapping>

    
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.UsamiListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>non-auth/auth.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/non-auth/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>Usami Database</description>
        <res-ref-name>usami</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
