/* BACKBONE */

html, body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

footer {
    background: #2a2730;
    min-height: 100px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

#main-body {
    min-height: 100%;
    height: auto !important;
}

.page-header{
    padding-bottom:9px;
    margin:20px 0 20px;
    border-bottom:1px solid #eee;
}

.tab-content-custom {
    border: 1px solid #ecf0f1;
    padding: 10px;
}

/* HELPER */
.no-margin-top {
    margin-top: 0;
}

.opacity-9{
    opacity: 0.9;
}

/* ART PAGE */

#favorite-btn {
    margin-top: 10px;
    margin-left: 0;
}

#comment-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

#comment-box textarea {
    width: 100%;
}

#comment-box img{
    width: 5vw;
}

#tag-group {
    margin-top: 3px;
    margin-bottom: 10px;
}

.tag {
    margin: 3px;
}

/* PROFILE PAGE */

.image-art {
    padding: 10px;
}

.image-art .title {
    padding-top: 5px;
}

.image-art img {
    max-height: 170px;
}

#profile #description a{
    margin-right: 10px;
}

#profile #description a h4{
    display: inline-block;
}

/* MARKET PAGE */

.image-product img{
    max-height: 170px;
}

.image-product img:hover{
    outline: #18bc9c solid 1px;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

/* FOLLOW PAGE */
.follow {
    margin-top: 15px;
    margin-bottom: 15px;
}

.media .follow-name {
    vertical-align: middle;
}

.media .follow-img {
    height: 60px;
    width: 60px;
}

/* STORAGE PAGE */
.image-storage button {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

#editModal textarea {
    resize:vertical;
    height: 30vh;
}


/* TAGS PAGE */
.tag {
    display: inline-block;
}

/* Injection alertify */
.alertify-logs {
    z-index: 99999;
}

/* AUTH PAGE */
video#bgvid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
