/* BACKBONE */

html, body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5 !important;
}

footer {
    height: 15vh;
    min-height: 100px !important;
    background: #2a2730;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

.page-header{
    padding-bottom:9px;
    margin:20px 0 20px;
    border-bottom:1px solid #eee;
}

/* ART PAGE */

#favorite-btn {
    margin-top: 10px;
    margin-left: 0;
}

#comment-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

#comment-box textarea {
    width: 100%;
}

#comment-box img{
    width: 5vw;
}

#tag-group {
    margin-top: 3px;
    margin-bottom: 10px;
}

.tag {
    margin: 3px;
}

/* PROFILE PAGE */

.image-art {
    padding: 10px;
}

.image-art .title {
    padding-top: 5px;
}

.image-art img {
    max-height: 170px;
}

/* MARKET PAGE */

.image-product img:hover{
    outline: #18bc9c solid 1px;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
